.underlin:hover {
  border-bottom: 2px solid rgb(27 120 196);
}
.fancy-border {
  background-color: black;
  border-radius: 64% 36% 58% 42% / 61% 48% 52% 39%;
}
.bg-primary {
  background-color: rgb(27 120 196);
}
.box-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) -20px 13px 10px 4px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.primary-color {
  color: rgb(27 120 196);
}
.display-none {
  display: none;
}
